<%- include('header'); -%>


<h2>About Us Page</h2>

<p>Lorem Ipsum text Lorem Ipsum text Lorem Ipsum text Lorem Ipsum text Lorem Ipsum text Lorem Ipsum text Lorem Ipsum text Lorem Ipsum text</p>

<%- include('footer'); -%>
